<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>This is contact page</title>
</head>

<body>

	<section>
		<h1>This is contact page.....!</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem deserunt quam doloribus facilis itaque
			dignissimos amet delectus suscipit excepturi hic consequuntur quas reiciendis eum voluptates eius id ducimus
			voluptatum incidunt non ipsa. Nihil natus illum nemo perferendis sed inventore illo non accusantium est
			obcaecati cupiditate maxime blanditiis rerum eius doloribus voluptatum eum. Incidunt libero consequuntur
			assumenda nobis odio tempora vel!</p>

	</section>

</body>

</html>